.buttonDiv {
    background-color: #9563e6;
    width: 30% !important;
    border-radius: 10px;
    padding: 5px !important;
   
    
    
}
.buttonDiv:hover{
    background-color: orange;
    
    
}
#helloWorld {
    border-radius: 50;
}

.homeServiceClass {
   
}

.serviceTitleText {
    padding-top: 50;
}

